<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="TAXPORTAL" connectionString="Data Source= USATRAMEBW1003\DTI4TAXPORTALSTG ; Initial Catalog= Taxportal;Persist Security Info=True;User ID=ConfigTool;Password=ConfigTool" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>